.Left{
  float: left;
  font-size: 30px;
  color: #148574;
  font-family: Satisfy;
  margin-top: -250px;
  margin-left: 100px;
  padding-right: 30px;
}

.Right{
  float: right;
  font-size: 40px;
  color: #148574;
  font-family: Satisfy;
  margin-top: -350px;
  margin-right: 350px;
}

.REX{
  margin-left: 150px;

}

.BAT{
  margin-right: 150px;
  float: right;
}

.EMP{
  margin-top: 300px;
  margin-left: 50px;

}
