.buttons{
  position: relative;
  background-color: #90d4cd;
}

.ban{
background-image: linear-gradient(0deg, #5AC2B9, #90D4CD);

}

.ban1{
  background-image: url(Back1.png);
  position: relative;
}

.Intro{
background-color: #5AC2B9;
}

.Poll{
  background-image: linear-gradient(0deg, #ffffff, #5AC2B9);
}

.Art{
    background-image: linear-gradient(0deg, #ffffff, #5AC2B9);
}

.con{
  background-color: #5AC2B9;
}

.Mess{
  background-color: #5AC2B9;
}

.Rules{
    background-image: linear-gradient(0deg, #179c88, #5AC2B9);
}

.logo{
  padding-top: 10px;
  padding-left: 10px;
}

body{
margin: 0;
}

h1{
  color: #148574;
  text-align: center;
  font-size: 100px;
  font-family: Satisfy;
}

h2{
  color: #179c88;
  text-align: center;
  font-size: 50px;
  font-family: Satisfy;
}

.Art h2{
  color: #179c88;
  text-align: center;
  font-size: 30px;
  font-family: Satisfy;
}


h4{
  float: right;
  font-size: 40px;
  color: #148574;
  font-family: Satisfy;
  margin-top: 300px;
  margin-right: 500px;
  padding-left: 30px;
}

h5{
  font-size: 25px;
  color: #148574;
  text-align: center;
  font-family: Satisfy;
}

h6{
float: right;
font-size: 20px;
margin-top: 175px;
color: #148574;
font-family: Satisfy;

}

p{
  color: #179c88;
  text-align: center;
  font-size: 25px;
  font-family: Roboto;
}

.REX{
  margin-left: 150px;
}

.btn1 {
  float: right;
  margin-right: 930px;
  margin-top: 30px;
  background: #5488ab;
  background-image: -webkit-linear-gradient(top, #5488ab, #479e8d);
  background-image: -moz-linear-gradient(top, #5488ab, #479e8d);
  background-image: -ms-linear-gradient(top, #5488ab, #479e8d);
  background-image: -o-linear-gradient(top, #5488ab, #479e8d);
  background-image: linear-gradient(to bottom, #5488ab, #479e8d);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 28px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn1:hover {
  background: #479e8d;
  background-image: -webkit-linear-gradient(top, #479e8d, #5488ab);
  background-image: -moz-linear-gradient(top, #479e8d, #5488ab);
  background-image: -ms-linear-gradient(top, #479e8d, #5488ab);
  background-image: -o-linear-gradient(top, #479e8d, #5488ab);
  background-image: linear-gradient(to bottom, #479e8d, #5488ab);
  text-decoration: none;
}


.btn {
  float: left;
  margin-top: -84px;
  margin-left: 450px;
  background: #5488ab;
  background-image: -webkit-linear-gradient(top, #5488ab, #479e8d);
  background-image: -moz-linear-gradient(top, #5488ab, #479e8d);
  background-image: -ms-linear-gradient(top, #5488ab, #479e8d);
  background-image: -o-linear-gradient(top, #5488ab, #479e8d);
  background-image: linear-gradient(to bottom, #5488ab, #479e8d);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 28px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #479e8d;
  background-image: -webkit-linear-gradient(top, #479e8d, #5488ab);
  background-image: -moz-linear-gradient(top, #479e8d, #5488ab);
  background-image: -ms-linear-gradient(top, #479e8d, #5488ab);
  background-image: -o-linear-gradient(top, #479e8d, #5488ab);
  background-image: linear-gradient(to bottom, #479e8d, #5488ab);
  text-decoration: none;
}



.sub {
  float: left;
  margin-top: -84px;
  margin-left: 750px;
  background: #5488ab;
  background-image: -webkit-linear-gradient(top, #5488ab, #479e8d);
  background-image: -moz-linear-gradient(top, #5488ab, #479e8d);
  background-image: -ms-linear-gradient(top, #5488ab, #479e8d);
  background-image: -o-linear-gradient(top, #5488ab, #479e8d);
  background-image: linear-gradient(to bottom, #5488ab, #479e8d);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 20px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 28px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.sub:hover {
  background: #479e8d;
  background-image: -webkit-linear-gradient(top, #479e8d, #5488ab);
  background-image: -moz-linear-gradient(top, #479e8d, #5488ab);
  background-image: -ms-linear-gradient(top, #479e8d, #5488ab);
  background-image: -o-linear-gradient(top, #479e8d, #5488ab);
  background-image: linear-gradient(to bottom, #479e8d, #5488ab);
  text-decoration: none;
}



.rule {
  float: right;
  margin-right: 235px;
  margin-top: -84px;
  background: #5488ab;
  background-image: -webkit-linear-gradient(top, #5488ab, #479e8d);
  background-image: -moz-linear-gradient(top, #5488ab, #479e8d);
  background-image: -ms-linear-gradient(top, #5488ab, #479e8d);
  background-image: -o-linear-gradient(top, #5488ab, #479e8d);
  background-image: linear-gradient(to bottom, #5488ab, #479e8d);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 20px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 28px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.rule:hover {
  background: #479e8d;
  background-image: -webkit-linear-gradient(top, #479e8d, #5488ab);
  background-image: -moz-linear-gradient(top, #479e8d, #5488ab);
  background-image: -ms-linear-gradient(top, #479e8d, #5488ab);
  background-image: -o-linear-gradient(top, #479e8d, #5488ab);
  background-image: linear-gradient(to bottom, #479e8d, #5488ab);
  text-decoration: none;
}

.cont {
  margin-left: 500px;
  background: #5488ab;
  background-image: -webkit-linear-gradient(top, #5488ab, #479e8d);
  background-image: -moz-linear-gradient(top, #5488ab, #479e8d);
  background-image: -ms-linear-gradient(top, #5488ab, #479e8d);
  background-image: -o-linear-gradient(top, #5488ab, #479e8d);
  background-image: linear-gradient(to bottom, #5488ab, #479e8d);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 32px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.cont:hover {
  background: #479e8d;
  background-image: -webkit-linear-gradient(top, #479e8d, #5488ab);
  background-image: -moz-linear-gradient(top, #479e8d, #5488ab);
  background-image: -ms-linear-gradient(top, #479e8d, #5488ab);
  background-image: -o-linear-gradient(top, #479e8d, #5488ab);
  background-image: linear-gradient(to bottom, #479e8d, #5488ab);
  text-decoration: none;
}
